<header>
    <h1 class="welcome_text">New Request</h1>    
</header>
<section class="section_light">
    <div class="row" style="padding-top: 20px">
      	<div class="large-6 large-offset-3 columns">
      		<% if @request.errors.any?%>
					<h2><%= pluralize(@request.errors.count, "Error")%> prevented this request from saving</h2>
					<ul>
						<% @request.errors.full_messages.each do |msg| %>
							<li><%= msg%></li>
						<% end%>	
					</ul>
			<% end %>
			<%=render('form')%>
			<br>
			<%=link_to "Back",:back,class:"button"%>
      	</div>
    </div>
</section>