<header>
    <h1 class="welcome_text">New Question Papers</h1>    
</header>
<section class="section_light">
    <div class="row" style="padding-top: 20px">
      	<div class="large-6 large-offset-3 columns">
      		<% if @qpaper.errors.any?%>
					<h2><%= pluralize(@qpaper.errors.count, "Error")%> prevented this Question Paper from saving</h2>
					<ul>
						<% @qpaper.errors.full_messages.each do |msg| %>
							<li><%= msg%></li>
						<% end%>
					</ul>
			<% end %>
			<%=render('form')%>
			<br>
			<%=link_to "Back",:back,class:"button"%>
      	</div>
    </div>
</section>
